<section class="flex flex-col pt-3 bg-gray-50 h-full overflow-y-scroll">
  <label class="px-3">
    <input class="rounded-lg p-4 bg-gray-100 transition duration-200 focus:outline-none focus:ring-2 w-full"
      placeholder="Search..." />
  </label>

  <ul class="mt-6">
    <li *ngFor="let user of users" class="py-5 border-b px-3 transition hover:bg-indigo-100">
      <a class="flex justify-between items-center">
        <h3 class="text-lg font-semibold">{{ user["userName"] }}</h3>
        <p class="text-md text-gray-400">23m ago</p>
      </a>
      <div class="text-md italic text-gray-400">You have been invited!</div>
    </li>
  </ul>
</section>